#LoginForm > div {
  margin: 0 auto;
  float: none;
}
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
#sources.tab-pane > form {
  line-height: 34px;
}
button.file-upload {
  display: inline-block;
}
.preview {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
.preview:hover i {
  display: block;
  cursor: pointer;
}
.preview i {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
}
